.sidebarconatiner {
    background-color: #E1F9F4;
    width: 317px;
    height: 100vh;
    margin: 0;

}

.font {
    color: #AAAAAA;
}


.home {
    color: #2289ff;
    margin-right: 30px;
}

.sideoption .property {
    color: #2289ff;
}


.sidesubcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.property {
    color: #2289ff;
        font-size: 1.08em;
        letter-spacing: 0.8px;
    
}

.navvalue {
    margin-left: 28px;

}

.navvalue {
    color: #AAAAAA;
    letter-spacing: 0.8px;
    font-size: 1.1em;
}

.sideoption:hover {
    color: #2289ff;
    cursor: pointer;
}

.sideoption {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 25px;
}